<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.piccenter.demos.web.infrastructure.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_profile" jdbcType="VARCHAR" property="userProfile" />
    <result column="user_role" jdbcType="VARCHAR" property="userRole" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="vip_expire_time" jdbcType="TIMESTAMP" property="vipExpireTime" />
    <result column="vip_code" jdbcType="VARCHAR" property="vipCode" />
    <result column="vip_number" jdbcType="BIGINT" property="vipNumber" />
    <result column="share_code" jdbcType="VARCHAR" property="shareCode" />
    <result column="invite_user" jdbcType="BIGINT" property="inviteUser" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_account, user_password, user_name, user_avatar, user_profile, user_role, 
    edit_time, create_time, update_time, vip_expire_time, vip_code, vip_number, share_code, 
    invite_user, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    insert into user (id, user_account, user_password, 
      user_name, user_avatar, user_profile, 
      user_role, edit_time, create_time, 
      update_time, vip_expire_time, vip_code, 
      vip_number, share_code, invite_user, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, #{userProfile,jdbcType=VARCHAR}, 
      #{userRole,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{vipExpireTime,jdbcType=TIMESTAMP}, #{vipCode,jdbcType=VARCHAR}, 
      #{vipNumber,jdbcType=BIGINT}, #{shareCode,jdbcType=VARCHAR}, #{inviteUser,jdbcType=BIGINT}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="userProfile != null">
        user_profile,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="vipExpireTime != null">
        vip_expire_time,
      </if>
      <if test="vipCode != null">
        vip_code,
      </if>
      <if test="vipNumber != null">
        vip_number,
      </if>
      <if test="shareCode != null">
        share_code,
      </if>
      <if test="inviteUser != null">
        invite_user,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userProfile != null">
        #{userProfile,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipExpireTime != null">
        #{vipExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipCode != null">
        #{vipCode,jdbcType=VARCHAR},
      </if>
      <if test="vipNumber != null">
        #{vipNumber,jdbcType=BIGINT},
      </if>
      <if test="shareCode != null">
        #{shareCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteUser != null">
        #{inviteUser,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    update user
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userProfile != null">
        user_profile = #{userProfile,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipExpireTime != null">
        vip_expire_time = #{vipExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipCode != null">
        vip_code = #{vipCode,jdbcType=VARCHAR},
      </if>
      <if test="vipNumber != null">
        vip_number = #{vipNumber,jdbcType=BIGINT},
      </if>
      <if test="shareCode != null">
        share_code = #{shareCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteUser != null">
        invite_user = #{inviteUser,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    SELECT
    id,
    user_account,
    user_password,
    user_name,
    user_avatar,
    user_profile,
    user_role,
    edit_time,
    create_time,
    update_time,
    vip_expire_time,
    vip_code,
    vip_number,
    share_code,
    invite_user,
    is_delete
    FROM
    user_table
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="userAccount != null">
        AND user_account = #{userAccount}
      </if>
      <if test="userPassword != null">
        AND user_password = #{userPassword}
      </if>
      <if test="userName != null">
        AND user_name = #{userName}
      </if>
      <if test="userAvatar != null">
        AND user_avatar = #{userAvatar}
      </if>
      <if test="userProfile != null">
        AND user_profile = #{userProfile}
      </if>
      <if test="userRole != null">
        AND user_role = #{userRole}
      </if>
      <if test="editTime != null">
        AND edit_time = #{editTime}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="vipExpireTime != null">
        AND vip_expire_time = #{vipExpireTime}
      </if>
      <if test="vipCode != null">
        AND vip_code = #{vipCode}
      </if>
      <if test="vipNumber != null">
        AND vip_number = #{vipNumber}
      </if>
      <if test="shareCode != null">
        AND share_code = #{shareCode}
      </if>
      <if test="inviteUser != null">
        AND invite_user = #{inviteUser}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete}
      </if>
    </where>
  </select>

  <update id="updateByPrimaryKey" parameterType="com.zzy.piccenter.demos.web.infrastructure.po.UserPO">
    update user
    set user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_profile = #{userProfile,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      vip_expire_time = #{vipExpireTime,jdbcType=TIMESTAMP},
      vip_code = #{vipCode,jdbcType=VARCHAR},
      vip_number = #{vipNumber,jdbcType=BIGINT},
      share_code = #{shareCode,jdbcType=VARCHAR},
      invite_user = #{inviteUser,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>



</mapper>